.content-area {
//	padding-bottom: 20px;
	h1 {
		margin-top: 30px;
	}
}
.contact {
	max-width: 750px;
	margin: 0px auto;
	
	.text-content {
		max-width: 390px;
		margin: 0px auto;
		text-align: center;
	}
	
	input[type=submit] {
		line-height: 1.4;
	}
}

.how-to-enter {
	padding-bottom: 20px;
}

.list-faqs{
	.item{
		h3{
			color: $gold;
		}
	}
}

.container{
	p {
		margin-bottom: 20px;
	}
}

.btn-section {
	padding: 30px 0px;

	.btn {
		width: 100%;
	}
}

.picture {
	max-height: 500px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.tips-section {
	.tips_txt {
		padding: 20px 15px;
	}
	
	.creating-styles {
		margin-top: 20px;
		list-style: none; 
		counter-reset: li;
			
		li {
			margin-bottom: 10px;
			margin-left: 20px;
			counter-increment: li;
			
			&::before {
				content: counter(li) '.'; 
				color: $gold;
  			display: inline-block; 
				width: 1.1em;
  			margin-left: -1em
			}
		}
	}
}

.checkbox_term{
	position: relative;
	
	.txt-terms {
		position: absolute;
		width: 90%;
		left: 52px;
    top: 5px;
		font-size: 11px;
		line-height: 110%;
	}
}

.block1 {
	padding: 20px 0px 40px 0px;
	img {
		max-width: 350px;
	}
	
	
}
.block1{
	.txt {
		max-width: 500px;
    margin: 0px auto;
    font-size: 18px;
    text-align: center;
    line-height: 150%;
	}
}

.block {
	p {
		margin-bottom: 20px;
	}
	
	h4{
		padding: 0px;
		margin: 0px;
	}
	
	.dash-line {
		font-size: 20px;
		text-align: center;
		width: 100%;
		max-width: 250px;
		position: relative;
		margin: 20px auto;
		i{
			background-color: $white;
			padding: 10px 15px;
		}
		
		.line {
			width: 100%;
			height: 2px;
			border-bottom: 2px dotted $gold;
			position: absolute;
			top: 50%;
			left: 0px;
			z-index: -1;
		}
	}
	.text, .bg-img {
		width: 50%;
	}
	.text {
		text-align: right;
		padding: 50px;
		
		.info {
			max-width: 350px;
			text-align: center;
			margin: 0px 0px 0px auto;
		}
	}
	.bg-img {
		background-size: cover;
		background-position: center;
		min-height: 400px;
	}
}

.block2, .block3 {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: nowrap;
}

.block3 {
	flex-direction:row-reverse;	
	.text {
		.info {
			margin: 0px auto 0px 0px;
		}
	}
}

.block4 {
	padding: 30px 0px;
	h4{
		text-align: center;
		padding: 20px 0px;
	}
	.wrap {
		max-width: 550px;
		margin: 0px auto;
	}
}

.block5 {
	padding: 10px 0px;
	
	.container {
		max-width: 950px;
		text-align: center;
	}
	
	.profile {
		margin-top: 30px;
	}
	
	.thumb {
		margin: 10px 0px 20px 0px;
		
		.img-circle {
			width: 180px;
			height: 180px;
		}
	}
	
	.name {
		margin-bottom: 10px;
		font-family: 'avenirblack';
	}
	
	h4 {
		display: inline-block;
    padding: 0px 20px;
    background-color: $white;
	}
	
	.btn-enter {
		background-color: $gold;
	}
	
	.dash-line {
		max-width: 100%;
		margin-bottom: 20px;
	}
	
	.box-text {
		padding: 15px 20px;
		text-align: center;
		
		.txt-content {
			max-width: 500px;
			margin: 0px auto;
		}
	}
}

.prize {
	ul{
		margin-bottom: 20px;
	}
	li {
		list-style: disc;
		list-style-position: outside;
		margin-left: 20px;
		line-height: 130%;
		margin-bottom: 5px;
	}
	
	.packet-prize {
		.line {
			width: 100%;
			height: 2px;
			border-bottom: 2px dotted $gold;
			margin: 30px 0px 10px 0px;
		}
		
		h4 {
			margin-left: 20px;
			counter-increment: li;
			text-align: left;
			position: relative;
			padding-left: 10px;
			line-height: 110%;
			max-width: 350px;
			
			span{
				display: block;
				padding-top: 10px;
			}
			
			&::before {
				content: counter(li); 
				color: $white;
				position: absolute;
				top: 23px;
				left: -10px;
				width: 30px;
				height: 30px;
				border-radius: 60px;
				background-color: $gold;
				text-align: center;
  			margin-left: -1em;
				line-height: 150%;
			}
		}
		
		.categories{
			.title-cat{
				font-family: avenirblack;
				font-size: 22px;
				line-height: 2.8rem;	
				color: #58595b;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 20px;
				margin-top: 10px;
			}
			
			p{
				margin-left: 30px;
			}	
		} 

				
		h5 {
			margin: 5px 20px;
			padding: 0px 5px;
			counter-increment: li;
			text-align: left;
			position: relative;
			line-height: 110%;
			max-width: 350px;
			font-size: 18px;
			font-weight: bolder;
			letter-spacing: 0px;
			
			&::before {
				content: counter(li); 
				color: $white;
				position: absolute;
				top: -3px;
				left: -10px;
				width: 23px;
				height: 23px;
				border-radius: 60px;
				background-color: $gold;
				text-align: center;
  			margin-left: -1em;
				font-size: 14px;
				line-height: 180%;
			}
		}
	}
}

.category-gallery {
	h1 .img-responsive {
		max-width: 300px;
	}
}