@font-face {
    font-family: 'avenirblack';
    src: url('../fonts/avenir_black-webfont.woff2') format('woff2'),
         url('../font/avenir_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenirlight';
    src: url('../fonts/avenir_light-webfont.woff2') format('woff2'),
         url('../fonts/avenir_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'avenirmedium';
    src: url('../fonts/avenir_medium-webfont.woff2') format('woff2'),
         url('../fonts/avenir_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'avenirmediumitalic';
    src: url('../fonts/avenir_mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/avenir_mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//@font-face {
//    font-family:'Love Jones';
//    src: url('LoveJones.eot');
//		src: url('LoveJones.eot?#iefix') format('embedded-opentype'),
//		url('LoveJones.woff2') format('woff2'),
//		url('LoveJones.woff') format('woff'),
//		url('LoveJones.svg#LoveJones') format('svg');
//    font-weight: 700;
//    font-style: normal;
//    font-stretch: normal;
//    unicode-range: U+0020-00FE;
//}
//
@font-face {
    font-family:'Ropsen Script Regular';
    src: url('../fonts/RopsenScriptRegular.woff2') format('woff2'),
         url('../fonts/RopsenScriptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}