footer{
	background-color: $white;
}
.menu-section {
	background-color: rgba(245,245,245,0.8);
//	overflow: hidden;
	text-align: center;
	padding: 0x;
	width: 100%;
	
	.widget {
		padding: 0px;
	}
	.menu {
		li{
			display: inline-block;
			text-transform: uppercase;
			border: none;
			padding: 0px;
			font-size: 14px;
			list-style: none;
			padding: 1em 0px;
			&:before {
				display: none;
			}
			a{
				color: $black;
				border-bottom: none;
				box-shadow:none;
				padding: 1em 1.25em;

				&:hover {
//					box-shadow:inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 $gold;
					color: $gold;
					box-shadow:none;
				}
			}
		}
		.current-menu-item {
			a{
				box-shadow:none;				
				color: $gold;
			}
		}
	}
}

.partner {
	margin-top: 20px;
}