html { 
	font-size: 62.5%;			
//	font-smoothing:         antialiased;
//  -webkit-font-smoothing: antialiased;
//  -moz-font-smoothing:    antialiased;
//  -o-font-smoothing:      antialiased;
}
body {
    color: $black;
    overflow-x: hidden;
    font-size: 16px;
    font-family: $body-font-family;
		line-height: 24px;
		font-weight: 400;
//		background-color: $light-bg;
}

div,p,li,ul,h1,h2,h3, header,footer{
  margin: 0px;
  padding: 0px;
}


.font-icon {
	font-family: 'FontAwesome';
	font-size: 1.8rem;
}

.shadow-r {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";/*IE 8*/
box-shadow: 11px 0 15px -15px #a5a2a2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.shadow-l {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";/*IE 8*/
box-shadow: -11px 0 15px -15px #a5a2a2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000); /*IE 5.5-7*/
}


h1{
	font-family: avenirblack;
	font-size: 2.3rem;
	line-height: 3.5rem;
	color: $gold;
	text-align: center;
	margin-bottom: 30px;
	img{
		margin: 0px auto;
	}
}

h2 {
	font-family: avenirblack;
	font-size: 20px;
	color: $gold;
	line-height: 3rem;

	}

h2.font {
	font-family: "Ropsen Script Regular";
	font-size:30px;
	line-height: 1.00;
	color: $black;
}

h3 {
	font-family: avenirblack;
	font-size: 16px;
	color: $gold;
	line-height: 3rem;

	}

h4 {
	font-family: avenirblack;
	font-size: 20px;
	color: $black;
	line-height: 2.8rem;
	text-transform: uppercase;
	}


.bg-light {
	background-color: $bg-gold;
	overflow: hidden;
}

li {
	list-style: none;
}
 .site-content li {
	
	&:before {
		content: "•"; 
		color: $gold;
  	display: inline-block; 
		width: 1em;
  	margin-left: -1em;
	}
}

a {
  color: $gold;
  cursor: pointer;
	text-decoration: none;
}

a:hover, a:focus {
	color: $gold;
	text-decoration: underline;
}

 *:focus,.btn:focus,a:focus {
  outline: 0px;
	outline: none;
}

.content-right .content a.btn {
	color: $white;
}
::-webkit-input-placeholder { color: #b1b1b1; }
::-moz-placeholder {  color: #b1b1b1; }
:-ms-input-placeholder {  color: #b1b1b1; }
input:-moz-placeholder { color: #b1b1b1; }

.marginT10{
	margin-top: 10px;
}

.marginT30{
	margin-top: 30px;
}
.marginT20{
	margin-top: 20px;
}

.w100 {
	width: 100%;
}

.form-control {
	background-color: $white;
	color: $black;
	border-color: $white;
}

.btn,input[type=submit]  {
	font-family: avenirblack;
  font-size: 20px;
	text-transform: uppercase;
	color: $white;
	padding: 0.6em 2em;
	background-color: $green;
	height: auto;
	border-radius: 0px;
	&:hover,&:focus {
		background-color: $green;
		color: $white;
	}
}

.btn-gold{
	font-family: "Ropsen Script Regular";
  background-color: $gold;
	text-transform: none;
	font-size: 25px;
	padding: 0.3em 2em;
	font-weight: 400;
	&:hover {
		background-color: $gold;
	}
}

.btn-submit-section {
	margin-left:15px;
	margin-right:15px;
}

.site-content {
	min-height: calc(100vh - 240px);
}
.form {
	background-color: $bg-gold;
	margin-top: 30px;
	padding: 15px 0px;
	overflow: hidden;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	border: none;
}

span.wpcf7-not-valid-tip {
	color: $green;
	padding-top: 5px;
}

.form-control {
	background-color: $white;
  border-color: $white;
  line-height: 1.42857;
  height: 37px;
  padding-top: 6px;
  padding-bottom: 6px;
	&:focus{
		border: none;
		outline: none;
		box-shadow:none;
	}
}

div.wpcf7 .ajax-loader {
	display: none;
}

.bg-white {
	background-color: $white;
}

.form-enter {
	max-width: 750px;
	margin: 30px auto;
}

.btn-enter {
	width: 100%;
	max-width: 450px;
}
