header {
	.menu-section {
		padding: 0px 0px;
		position: absolute;
		top: 0px;
		
		li{
			padding:0px !important;
		}
	}
	.banner {
	}
	.container {
			position: relative;
		
			.language {
				position: absolute;
				right: 20px;
				top: 0px;
				
				.dropdown-menu {
					box-shadow:none;
					border: none;
					background-color: $bg-gray;
					margin-left: 8px;
					margin-top: 0px;
					li>a:hover{
						background-color: #d7d4ca;
					}
				}
				
				.btn-language {
					color: $black;
					background-color: $bg-gray;
					border-radius: 5px;
					text-transform: none;
					font-size: 14px;
					font-family: $body-font-family;
					min-width: 160px;
					text-align: left;
					margin-top: 8px;
					position: relative;
					&:focus{
						border: none;
						outline: none;
						box-shadow:none;
					}

					.caret {
						position: absolute;
						top: 12px;
						right: 10px;
						
						border-width: 8px;
						border-bottom-width: 0px;
						color: #e4e1d5;
					}
				}
			}
		}
}