// ---------------------------------
// Genuinely useful media queries =)
// ---------------------------------
$custom-breakpoints: (
    "phone"             : 340px,
    "phone-wide"        : 480px,
    "phablet"           : 560px,
    "tablet-small"      : 640px,
    "tablet"            : 768px,
    "foundation-tablet" : 920px,
    "tablet-wide"       : 1024px,
    "desktop"           : 1248px,
    "desktop-wide"      : 1440px
);



// Query $width screens and up.
// Usage : // @include mq-up('phone') {.div {background: red;} }
@mixin mq-up($width, $type: min) {
  @if map_has_key($custom-breakpoints, $width) {
    $width: map_get($custom-breakpoints, $width);
    @if $type==min {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Query $width screens and down.
// Usage : @include mq-down('tablet') {.div {padding: 2.25rem;} }
@mixin mq-down($width, $type: max) {
  @if map_has_key($custom-breakpoints, $width) {
    $width: map_get($custom-breakpoints, $width);
    @if $type==max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}


@mixin prefix($property, $parameters...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $parameters;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}