// Site Variables
// --------------
// Colors
$gold: #b9a273;
$white:#FFF;
$dark:#000;
$black:#58595b;
$green: rgba(112, 125, 65, 1);
$light-bg:#f6f5f2;
$bg-gray:#f4f3ee;
$bg-gold:#f4f3ee;

$body-font-family: 'avenirmedium';

// 4. Base Typography
$header-sizes: (
  small: (
    'h1': 30,
    'h2': 26,
    'h3': 24,
    'h4': 20,
    'h5': 17,
    'h6': 14,
  ),
  medium: (
    'h1': 36,
    'h2': 28,
    'h3': 26,
    'h4': 23,
    'h5': 20,
    'h6': 14,
  ),
);

// Motion UI Overrides
// -------------------

$motion-ui-speeds: (
  default: 400ms,
  slow: 750ms,
  fast: 250ms,
);

$motion-ui-easings: (
  default: ease,
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-out: ease-out,
  ease-in-out: ease-in-out,
  bounce-in: cubic-bezier(0.485, 0.155, 0.24, 1.245),
  bounce-out: cubic-bezier(0.485, 0.155, 0.515, 0.845),
  bounce-in-out: cubic-bezier(0.76, -0.245, 0.24, 1.245),
);

