@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  color: #58595b;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "avenirmedium";
  line-height: 24px;
  font-weight: 400; }

div, p, li, ul, h1, h2, h3, header, footer {
  margin: 0px;
  padding: 0px; }

.font-icon {
  font-family: 'FontAwesome';
  font-size: 1.8rem; }

.shadow-r {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";
  /*IE 8*/
  box-shadow: 11px 0 15px -15px #a5a2a2;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000);
  /*IE 5.5-7*/ }

.shadow-l {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";
  /*IE 8*/
  box-shadow: -11px 0 15px -15px #a5a2a2;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000);
  /*IE 5.5-7*/ }

h1 {
  font-family: avenirblack;
  font-size: 2.3rem;
  line-height: 3.5rem;
  color: #b9a273;
  text-align: center;
  margin-bottom: 30px; }
  h1 img {
    margin: 0px auto; }

h2 {
  font-family: avenirblack;
  font-size: 20px;
  color: #b9a273;
  line-height: 3rem; }

h2.font {
  font-family: "Ropsen Script Regular";
  font-size: 30px;
  line-height: 1.00;
  color: #58595b; }

h3 {
  font-family: avenirblack;
  font-size: 16px;
  color: #b9a273;
  line-height: 3rem; }

h4 {
  font-family: avenirblack;
  font-size: 20px;
  color: #58595b;
  line-height: 2.8rem;
  text-transform: uppercase; }

.bg-light {
  background-color: #f4f3ee;
  overflow: hidden; }

li {
  list-style: none; }

.site-content li:before {
  content: "•";
  color: #b9a273;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

a {
  color: #b9a273;
  cursor: pointer;
  text-decoration: none; }

a:hover, a:focus {
  color: #b9a273;
  text-decoration: underline; }

*:focus, .btn:focus, a:focus {
  outline: 0px;
  outline: none; }

.content-right .content a.btn {
  color: #FFF; }

::-webkit-input-placeholder {
  color: #b1b1b1; }

::-moz-placeholder {
  color: #b1b1b1; }

:-ms-input-placeholder {
  color: #b1b1b1; }

input:-moz-placeholder {
  color: #b1b1b1; }

.marginT10 {
  margin-top: 10px; }

.marginT30 {
  margin-top: 30px; }

.marginT20 {
  margin-top: 20px; }

.w100 {
  width: 100%; }

.form-control {
  background-color: #FFF;
  color: #58595b;
  border-color: #FFF; }

.btn, input[type=submit] {
  font-family: avenirblack;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  padding: 0.6em 2em;
  background-color: #707d41;
  height: auto;
  border-radius: 0px; }
  .btn:hover, .btn:focus, input[type=submit]:hover, input[type=submit]:focus {
    background-color: #707d41;
    color: #FFF; }

.btn-gold {
  font-family: "Ropsen Script Regular";
  background-color: #b9a273;
  text-transform: none;
  font-size: 25px;
  padding: 0.3em 2em;
  font-weight: 400; }
  .btn-gold:hover {
    background-color: #b9a273; }

.btn-submit-section {
  margin-left: 15px;
  margin-right: 15px; }

.site-content {
  min-height: calc(100vh - 240px); }

.form {
  background-color: #f4f3ee;
  margin-top: 30px;
  padding: 15px 0px;
  overflow: hidden; }

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: none; }

span.wpcf7-not-valid-tip {
  color: #707d41;
  padding-top: 5px; }

.form-control {
  background-color: #FFF;
  border-color: #FFF;
  line-height: 1.42857;
  height: 37px;
  padding-top: 6px;
  padding-bottom: 6px; }
  .form-control:focus {
    border: none;
    outline: none;
    box-shadow: none; }

div.wpcf7 .ajax-loader {
  display: none; }

.bg-white {
  background-color: #FFF; }

.form-enter {
  max-width: 750px;
  margin: 30px auto; }

.btn-enter {
  width: 100%;
  max-width: 450px; }

header .menu-section {
  padding: 0px 0px;
  position: absolute;
  top: 0px; }
  header .menu-section li {
    padding: 0px !important; }

header .container {
  position: relative; }
  header .container .language {
    position: absolute;
    right: 20px;
    top: 0px; }
    header .container .language .dropdown-menu {
      box-shadow: none;
      border: none;
      background-color: #f4f3ee;
      margin-left: 8px;
      margin-top: 0px; }
      header .container .language .dropdown-menu li > a:hover {
        background-color: #d7d4ca; }
    header .container .language .btn-language {
      color: #58595b;
      background-color: #f4f3ee;
      border-radius: 5px;
      text-transform: none;
      font-size: 14px;
      font-family: "avenirmedium";
      min-width: 160px;
      text-align: left;
      margin-top: 8px;
      position: relative; }
      header .container .language .btn-language:focus {
        border: none;
        outline: none;
        box-shadow: none; }
      header .container .language .btn-language .caret {
        position: absolute;
        top: 12px;
        right: 10px;
        border-width: 8px;
        border-bottom-width: 0px;
        color: #e4e1d5; }

@font-face {
  font-family: 'avenirblack';
  src: url("../fonts/avenir_black-webfont.woff2") format("woff2"), url("../font/avenir_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenirlight';
  src: url("../fonts/avenir_light-webfont.woff2") format("woff2"), url("../fonts/avenir_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenirmedium';
  src: url("../fonts/avenir_medium-webfont.woff2") format("woff2"), url("../fonts/avenir_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenirmediumitalic';
  src: url("../fonts/avenir_mediumitalic-webfont.woff2") format("woff2"), url("../fonts/avenir_mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ropsen Script Regular';
  src: url("../fonts/RopsenScriptRegular.woff2") format("woff2"), url("../fonts/RopsenScriptRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.content-area h1 {
  margin-top: 30px; }

.contact {
  max-width: 750px;
  margin: 0px auto; }
  .contact .text-content {
    max-width: 390px;
    margin: 0px auto;
    text-align: center; }
  .contact input[type=submit] {
    line-height: 1.4; }

.how-to-enter {
  padding-bottom: 20px; }

.list-faqs .item h3 {
  color: #b9a273; }

.container p {
  margin-bottom: 20px; }

.btn-section {
  padding: 30px 0px; }
  .btn-section .btn {
    width: 100%; }

.picture {
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center; }

.tips-section .tips_txt {
  padding: 20px 15px; }

.tips-section .creating-styles {
  margin-top: 20px;
  list-style: none;
  counter-reset: li; }
  .tips-section .creating-styles li {
    margin-bottom: 10px;
    margin-left: 20px;
    counter-increment: li; }
    .tips-section .creating-styles li::before {
      content: counter(li) ".";
      color: #b9a273;
      display: inline-block;
      width: 1.1em;
      margin-left: -1em; }

.checkbox_term {
  position: relative; }
  .checkbox_term .txt-terms {
    position: absolute;
    width: 90%;
    left: 52px;
    top: 5px;
    font-size: 11px;
    line-height: 110%; }

.block1 {
  padding: 20px 0px 40px 0px; }
  .block1 img {
    max-width: 350px; }

.block1 .txt {
  max-width: 500px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  line-height: 150%; }

.block p {
  margin-bottom: 20px; }

.block h4 {
  padding: 0px;
  margin: 0px; }

.block .dash-line {
  font-size: 20px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  position: relative;
  margin: 20px auto; }
  .block .dash-line i {
    background-color: #FFF;
    padding: 10px 15px; }
  .block .dash-line .line {
    width: 100%;
    height: 2px;
    border-bottom: 2px dotted #b9a273;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: -1; }

.block .text, .block .bg-img {
  width: 50%; }

.block .text {
  text-align: right;
  padding: 50px; }
  .block .text .info {
    max-width: 350px;
    text-align: center;
    margin: 0px 0px 0px auto; }

.block .bg-img {
  background-size: cover;
  background-position: center;
  min-height: 400px; }

.block2, .block3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.block3 {
  flex-direction: row-reverse; }
  .block3 .text .info {
    margin: 0px auto 0px 0px; }

.block4 {
  padding: 30px 0px; }
  .block4 h4 {
    text-align: center;
    padding: 20px 0px; }
  .block4 .wrap {
    max-width: 550px;
    margin: 0px auto; }

.block5 {
  padding: 10px 0px; }
  .block5 .container {
    max-width: 950px;
    text-align: center; }
  .block5 .profile {
    margin-top: 30px; }
  .block5 .thumb {
    margin: 10px 0px 20px 0px; }
    .block5 .thumb .img-circle {
      width: 180px;
      height: 180px; }
  .block5 .name {
    margin-bottom: 10px;
    font-family: 'avenirblack'; }
  .block5 h4 {
    display: inline-block;
    padding: 0px 20px;
    background-color: #FFF; }
  .block5 .btn-enter {
    background-color: #b9a273; }
  .block5 .dash-line {
    max-width: 100%;
    margin-bottom: 20px; }
  .block5 .box-text {
    padding: 15px 20px;
    text-align: center; }
    .block5 .box-text .txt-content {
      max-width: 500px;
      margin: 0px auto; }

.prize ul {
  margin-bottom: 20px; }

.prize li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 20px;
  line-height: 130%;
  margin-bottom: 5px; }

.prize .packet-prize .line {
  width: 100%;
  height: 2px;
  border-bottom: 2px dotted #b9a273;
  margin: 30px 0px 10px 0px; }

.prize .packet-prize h4 {
  margin-left: 20px;
  counter-increment: li;
  text-align: left;
  position: relative;
  padding-left: 10px;
  line-height: 110%;
  max-width: 350px; }
  .prize .packet-prize h4 span {
    display: block;
    padding-top: 10px; }
  .prize .packet-prize h4::before {
    content: counter(li);
    color: #FFF;
    position: absolute;
    top: 23px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    background-color: #b9a273;
    text-align: center;
    margin-left: -1em;
    line-height: 150%; }

.prize .packet-prize .categories .title-cat {
  font-family: avenirblack;
  font-size: 22px;
  line-height: 2.8rem;
  color: #58595b;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px; }

.prize .packet-prize .categories p {
  margin-left: 30px; }

.prize .packet-prize h5 {
  margin: 5px 20px;
  padding: 0px 5px;
  counter-increment: li;
  text-align: left;
  position: relative;
  line-height: 110%;
  max-width: 350px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 0px; }
  .prize .packet-prize h5::before {
    content: counter(li);
    color: #FFF;
    position: absolute;
    top: -3px;
    left: -10px;
    width: 23px;
    height: 23px;
    border-radius: 60px;
    background-color: #b9a273;
    text-align: center;
    margin-left: -1em;
    font-size: 14px;
    line-height: 180%; }

.category-gallery h1 .img-responsive {
  max-width: 300px; }

footer {
  background-color: #FFF; }

.menu-section {
  background-color: rgba(245, 245, 245, 0.8);
  text-align: center;
  padding: 0x;
  width: 100%; }
  .menu-section .widget {
    padding: 0px; }
  .menu-section .menu li {
    display: inline-block;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    font-size: 14px;
    list-style: none;
    padding: 1em 0px; }
    .menu-section .menu li:before {
      display: none; }
    .menu-section .menu li a {
      color: #58595b;
      border-bottom: none;
      box-shadow: none;
      padding: 1em 1.25em; }
      .menu-section .menu li a:hover {
        color: #b9a273;
        box-shadow: none; }
  .menu-section .menu .current-menu-item a {
    box-shadow: none;
    color: #b9a273; }

.partner {
  margin-top: 20px; }
